@tailwind base;
@tailwind components;
@tailwind utilities;

.blend-burn {
  mix-blend-mode: burn;
  /* For browsers that support blend modes */
  background-blend-mode: burn;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5545df;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #40f4fa;
}